{% extends "base_generic.html" %}
{% load static %}

{% block title %}<title>User Sign Up!</title>{% endblock %}

{% block content%}
    <section class="update-profile-section">
        <h1>Sign Up</h1>
        <div class="profile-info">
            <form method="POST" action="{% url 'signup' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
        
                {% if form.errors or form.non_field_errors %}
                    {% for field in form%}
                    {{ field.errors}}
                    {% endfor %}

                    {{ form.non_field_errors}}
                {% endif %} 

                <a><button type="submit">Sign Up</button></a>
            </form>
        </div>

        <div class="prompts">
            <p>Already have account?<a href="{% url 'login' %}">Login</a></p>
            <p>Back to <a href="{% url 'books_home' %}">Home</a> Page</p>
        </div>
    </section>
{% endblock %}