{% load static %}
<!DOCTYPE html>

<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base_generic_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home_styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/book_detail_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile_page.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/error_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/chatroom_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/chatroom_list.css' %}">
    {% block title %}
      <title>Books and Movies</title>
    {% endblock %}
  </head>
  <body>
    <div class="nav-and-header">
      <header>
        Movie and Books<span class="company">Company</span>
      </header>
      {% block nav %}
      <div class="navigation-bar">
        <a href="{% url 'books_home' %}" class="nav-link">Books</a>
        <a href="{% url 'movies_home' %}" class="nav-link">Movies</a>
        {% if request.user.is_authenticated %}
          <!-- Search Form -->
          <form class="search-form" action="{% url 'search_results' %}" method="get">{% csrf_token %}
            <input class="search-input" type="text" name="query" value="{{ query|default_if_none:'' }}" placeholder="Search Books and Movies">
            <button type="submit" id="searchButton">Search</button>
          </form>
          <a href="{% url 'chatroom_list' %}" class="nav-link">Chat Rooms</a>
          <a href="{% url 'view_profile' username=user.username %}" class="nav-link">Profile</a>
        {% else %}
          <a href="{% url 'login' %}" class="nav-link">Login</a>
          <a href="{% url 'signup' %}" class="nav-link">Signup</a>
        {% endif %}
      </div>
      {% endblock %}
    </div>
    {% block content %}
      <!-- default content text -->
    {% endblock %}

    {% block footer%}
    <footer id="footer">
      <div class="white-thin-line"></div>
      <div class="flex-container">
        <!-- columns for the bottom navigation section -->
          <div class="column">
              <div class="company-info">
                  COMPANY
                  <br>
                  About us
                  <br>
                  Careers
                  <br>
                  Terms
                  <br>
                  Privacy
                  <br>
                  Help
              </div>
          </div>
          <div class="column">
              <div class="work-with-us">
                  WORK WITH US
                  <br>
                  Authors
                  <br>
                  Advertise
                  <br>
                  Authors & ads blog
                  <br>
                  API
              </div>
          </div>
          <div class="column">
              <div class="connect">
                  CONNECT
                  <br>
                  Movies and Books on Twitter
                  <br>
                  Movies and books on Instagram
                  <br>
                  Movies and Books on LinkedIn
              </div>
          </div>
      </div>
      <div class="center">
          © 2024 Movies and Books, Inc.
      </div>
    </footer>
    {% endblock %}
  </body>
</html>