{% extends "base_generic.html" %}
{% load static %}
<!-- Home or Landing Page of the Website Displays the books available on the website -->

{% block content %}
  <div class="books-list-container">
  </div>
  <iframe src="https://book-recommender-sys-e6619bb3a571.herokuapp.com/" width="100%" height="600" style="border:none;">
    Your browser does not support iframes.
  </iframe>

{% endblock %}


<!-- <div class="books-list">
      {% for book in book_list %}
          <div class="book-item">
            <a href="{% url 'book_detail' book_id=book.id %}">
              <img src="{{ book.cover_image.url }}" alt="{{ book.title }}" class="book-cover">
            </a>
          </div>
      {% empty %}
          <p>No books found.</p>
      {% endfor %}
  </div> -->