{% extends "base_generic.html" %}
{% load static %}

{% block content %}
  <div class="books-list-container">
    <div class="books-list">
      {% for movie in movie_list %}
          <div class="book-item">
            <a href="{% url 'movie_detail' movie_id=movie.id %}">
              <img src="{{ movie.cover_image.url }}" alt="{{ movie.title }}" class="book-cover">
            </a>
            <p class="book-title-home">{{ movie.title }}</p>
          </div>
      {% empty %}
          <p>No movies found.</p>
      {% endfor %}
  </div>
  </div>
{% endblock %}