{% extends "base_generic.html" %}
{% load static %}

{% block title %}<title>{{user.username}}</title>{% endblock %}

{% block content %}
    <div class="profile-container">
        <div class="profile-image">
            <img src="{{ profile.profile_image.url }}" alt="Profile Picture">
        </div>
        <div class="profile-info">
            <h1>{{user.username}}</h1>
            <p>{{profile.bio}}</p>
            <br>

            <h2>Chat Rooms</h2>
            <div class="profile-chatroom-list">
                {% for chatroom in user_chatrooms %}
                    <div class="chatroom-details">
                      <a href="{% url 'view_chatroom' chatroom_id=chatroom.id %}">
                        <img src="{{ chatroom.room_image.url }}" alt="{{ chatroom.name }}" class="profile-chatroom-image">
                      </a>
                    </div>
                {% empty %}
                    <p>{{user.username}} not part of any chatrooms</p>
                {% endfor %}
            </div>
            <br>
            <h2>Owner Of:</h2>
            <div class="profile-chatroom-list">
                {% for chatroom in owner_chatrooms %}
                    <div class="chatroom-details">
                        <a href="{% url 'view_chatroom' chatroom_id=chatroom.id %}">
                            <img src="{{ chatroom.room_image.url }}" alt="{{ chatroom.name }}" class="profile-chatroom-image">
                        </a>
                    </div>
                {% empty %}
                    <p>{{ user.username }} has not created any chatrooms</p>
                {% endfor %}
            </div>
            <br>
            <a href="{% url 'update_profile' username=user.username%}"><button id="updateProfile">Update Profile</button></a>
            <a href="{% url 'logout' %}"><button id="updateProfile">Logout</button></a>
        </div>
    </div>
{% endblock %}