/* css for the container in which the book details and reviews are wrapped around */
.book-container {
    background-color: #fff; 
    padding: 20px; 
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 30px #ac73ff;
}

/* css options for the book title */
.book-title {
    background-color: black;
    color: #fff;
    padding: 20px;
}

/* css for the displayed cover of the book */
.book-detail-cover {
    max-width: 100%;
    height: 400px;
    margin-top: 31.8px;
    border: 1px solid #ddd;
    box-shadow: #ac73ff;
}

/* css for the book details item */
.book-details {
    display: flex;
    align-items: flex-start; /* Align items such as book cover and book title to the start of the container */
}

/* css for the item labels on the page */
.book-label {
    font-weight: bold;
    margin-top: 10px; 
    font-size: 15px;
}

.book-info .book-label,
.book-description .book-label {
    font-weight: bold;
    margin-top: 10px; 
    margin-bottom: 10px;
    font-size: 30px;
    margin-left: 1rem;
}

.book-description {
    font-size: 18px;
    line-height: 1.5;
    margin-left: 1rem;
    text-align: justify;
}

/* css style options for individual reviews */
.review {
    background-color: #f9f9f9; 
    padding: 10px; 
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}
.reviews {
    text-align: center;
    margin-top: 20px;
}
/* css style options for the review text box */
textarea#reviewText {
    width: 98.5%;
    height: 100px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    padding: 10px;
}

/* css options for the submit review button */
button#submitReview {
    background-color: #ac73ff;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}
button#submitReview:hover {
    background-color: #8c84e4;
}


