.chatroom-container {
    display: flex;
    flex-direction: column;
    height: 92vh;
}

/* Style for the chatroom header */
h1 {
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.exit-link {
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 1rem;
    color: #333;
    padding-top: 6px;
}

.exit-link:hover {
    color: grey;
}

.delete-link {
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 1rem;
    color: #333;
    padding-top: 6px;
}

.delete-link:hover {
    color: red;
}

/* Style for chat messages */
#messages {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column; /* Display messages in reverse order */
    justify-content: flex-end;
    padding: 0 20px;
    margin: 0px;
}

#messages p {
    margin: 5px 0;
}

#messages strong {
    font-weight: bold;
    color: #ac73ff; /* Color for usernames */
}

/* Style for the message input form */
.profile-info {
    text-align: center;
}

#message-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ccc;
    background-color: #f9f9f9;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

#message {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    padding-left: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#message::placeholder {
    color: #999; /* Color for placeholder text */
}

button[type="submit"] {
    background-color: #ac73ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #8c84e4;
}
