.books-list-container{
    margin-left: 10px;
}

.books-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: nowrap; /* Prevent wrapping to the next line */
    overflow-x: auto; /* Enable horizontal scrolling if needed */
}

.book-item {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 10px; /* Adjust the margin as needed for spacing between book covers */
    object-fit: cover; /* Ensure images fill the available space */
}

.book-item:hover {
    transform: scale(1.1); /* Scale the book cover by 5% on hover */
}

.book-item:last-child {
    margin-right: 0; /* Remove margin from the last book cover on a line */
}

.book-cover {
    max-width: 150px;
    height: 200px;
    border-radius: 10px;
}

.book-title-home {
    font-size: 14px;
    font-style: oblique;
    text-align: center;
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 0;
}