.profile-container {
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-left: 10px;
}

/* css styling for the profile-image */
.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%; /* Make the profile image circular */
    overflow: hidden; /* Hides overflow to maintain circular shape */
    margin-right: 10px;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover entire space */
}

/* css styling for the other info on the page */
.profile-info {
    flex: 1; /* Take remaining space */
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
}

.profile-info h1 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 32px;
}

.profile-info p {
    margin: 0;
}

.profile-info a {
    padding: 20px;
    text-decoration: none;
    font-size: 18px;
    color: #ac73ff;
}

.profile-container a:hover {
    color: #8c84e4;
}

button#updateProfile {
    background-color: #ac73ff;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}
button#updateProfile:hover {
    background-color: #8c84e4;
}
